:root {
    /* --- Neutral / Surface --- */
    --clr-neutral-050: #0b0e14; /* lowest container */
    --clr-neutral-100: #10131a; /* surface, surface-dim, background */
    --clr-neutral-150: #191c22; /* container-low */
    --clr-neutral-200: #1d2026; /* container */
    --clr-neutral-250: #272a31; /* container-high */
    --clr-neutral-300: #2e3037; /* inverse-on-surface */
    --clr-neutral-400: #32353c; /* container-highest, surface-variant */
    --clr-neutral-500: #363940; /* surface-bright */
    --clr-neutral-600: #e1e2eb; /* on-surface, on-background, inverse-surface */
  
    /* --- Accents / Variants --- */
    --clr-accent-blue-gray: #88929b; /* outline set 1 */
    --clr-accent-cyan-gray: #859399; /* outline set 2 */
    --clr-accent-slate: #3e4850;      /* outline-variant set 1 */
    --clr-accent-dark-slate: #3c494e; /* outline-variant set 2 */
    --clr-accent-periwinkle: #bec8d2; /* on-surface-variant set 1 */
    --clr-accent-mist: #bbc9cf;       /* on-surface-variant set 2 */
  
    /* --- Blue Palette (Set 1) --- */
    --clr-blue-900: #001e2f;
    --clr-blue-800: #00344d;
    --clr-blue-700: #003751;
    --clr-blue-600: #004c6e;
    --clr-blue-500: #006591;
    --clr-blue-400: #0ea5e9;
    --clr-blue-300: #89ceff;
    --clr-blue-100: #c9e6ff;
  
    /* --- Cyan Palette (Set 2) --- */
    --clr-cyan-900: #001f28;
    --clr-cyan-800: #003543;
    --clr-cyan-700: #004e60;
    --clr-cyan-600: #00566a;
    --clr-cyan-500: #00677f;
    --clr-cyan-400: #00d1ff;
    --clr-cyan-300: #4cd6ff;
    --clr-cyan-100: #a4e6ff;
    --clr-cyan-50:  #b7eaff;
  
    /* --- Purple / Secondary Palette --- */
    --clr-purple-900: #07006c;
    --clr-purple-800: #1000a9;
    --clr-purple-700: #2f2ebe;
    --clr-purple-600: #3131c0;
    --clr-purple-300: #c0c1ff;
    --clr-purple-200: #b0b2ff;
    --clr-purple-100: #e1e0ff;
  
    /* --- Green / Secondary Palette --- */
    --clr-green-900: #002113;
    --clr-green-800: #00311f;
    --clr-green-700: #003824;
    --clr-green-600: #005236;
    --clr-green-500: #00a572;
    --clr-green-300: #4edea3;
    --clr-green-100: #6ffbbe;
  
    /* --- Tertiary Palette --- */
    --clr-tertiary-900: #2c0051;
    --clr-tertiary-800: #490080;
    --clr-tertiary-750: #4d0087;
    --clr-tertiary-700: #6900b3;
    --clr-tertiary-500: #bf7dff;
    --clr-tertiary-400: #b9baff;
    --clr-tertiary-300: #ddb7ff;
    --clr-tertiary-200: #d9d8ff;
    --clr-tertiary-100: #f0dbff;
  
    /* --- Error Palette --- */
    --clr-error-900: #690005;
    --clr-error-800: #93000a;
    --clr-error-300: #ffb4ab;
    --clr-error-100: #ffdad6;
  }

  body {
    background-color: var(--clr-neutral-050);
  }

  h1 {
    color: var(--clr-neutral-600);
  };
